$black: #000000;
$white: #ffffff;
$grey: #d8d8d8;
$lightGrey: #F5F5F7;
$red: #990000;
$brightRed: #E8191F;
$green: #4ece3d;
$greenCold: #21d366;

$textRed: #97040c;
$textDarkGrey: #4a4a4a;
$textGrey: #9b9b9b;

$borderGrey: rgba(151,151,151,0.22);
$borderRed: #9f0008;

//Gradients:
$redGradient: linear-gradient(to bottom, #E8191F 0%, #DC3F43 100%);

