$thinWeight: 100;
$lightWeight: 200;
$regularWeight: 400;
$mediumWeight: 500;
$blackWeight: 600;
$boldWeight: 700;
$extraBoldWeight: 900;

@mixin heebo($weight: $regularWeight) {
	font-family: 'heebo', sans-serif;
	font-weight: $weight;
}